create database {{ mysql_database }} DEFAULT CHARACTER SET = `utf8mb4`;
grant all on {{ mysql_database }}.* to '{{ mysql_user }}'@'192.168.0.%' identified by '{{ mysql_password }}';
grant all on {{ mysql_database }}.* to '{{ mysql_user }}'@'{{ host_ip }}' identified by '{{ mysql_password }}';
